<% provide(:title, custom_title()) %>
<div class="container">
<h2 class="alert alert-info">"Embrace the Movie Magic: Discover Your Exciting Cinema Bookings"</h2>
<% @cinema.each_slice(3) do |cinemas_slice| %>
  <div class="row">
      <% cinemas_slice.each do |cinema| %>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= cinema.name %></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Available Seat: <%= (cinema.bookings.size-10 )* -1 %></h6>
            <ul>
              <% cinema.movies.each do |movie| %>
                <li>Movie Name: <%= link_to movie.name, cinema_movie_path(cinema.id, movie.id), class: 'card-link' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= paginate @cinema%>

