<div class="table-container">
  <% if @cinemas.count == @cinema_all %>

  <% elsif @cinemas.count.positive? %>
    <table class="table table-hover table-search-movie">
      <thead>
        <tr>
          <th>--Select Cinema name below--</th>
          <!-- Add other columns as needed -->
        </tr>
      </thead>
      <tbody>
        <% @cinemas.each do |cinema| %>
          <tr>
            <td class="clickable-row" data-cinema-id="<%= cinema.id %>"><%= cinema.name %></td>
            <!-- Add other columns as needed -->
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else%>
    <div>No result found for cinema "<%= @search %>".</div>
  <% end %>
</div>