<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Book, Enjoy, Repeat!</h1>
  <p class="lead">"Welcome to our Cinema Booking App! Explore an incredible selection of movies and secure your seats for an unforgettable cinematic experience. Lights, camera, action – let the movie magic begin!"</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec velit in sapien dictum fermentum. Mauris eget tempor odio.</p>
  <p class="lead">
    <%= link_to 'Unlock the Magic!', login_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>