<h1>Booking Confirmation</h1>
<p>Your booking with ID: <%= @booking.id %> has been successfully confirmed!</p>
<p>Screening Details:</p>
<p>Title: <%= @screening.movie.title %></p>
<p>Date: <%= @screening.date %></p>
<p>Time Slot: <%= @screening.time_slot %></p>