// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
/* navbar */

.table-container {
  position: relative;
}
.cinema-box {
  min-width: 370px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

/* Style for the cinema name */
.cinema-name {
  font-size: 24px;
  font-weight: bold;
}

/* Style for the movie title */
.movie-title {
  font-size: 20px;
  font-weight: bold;
}

/* Style for the screening details */
.screening-details {
  margin-bottom: 10px;
}

/* Style for the booking list */
.booking-list {
  list-style-type: none;
  padding-left: 0;
}

/* Style for each booking item */
.booking-item {
  margin-bottom: 5px;
}

.disabled_field {
  background-color: grey;
} 

/* Style for user name and email */
.user-info {
  font-size: 14px;
}

.cinema_hidden_id {
  display: none;
}

.table-search-movie {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Higher z-index places the table in front of other elements */
}

#no_result_cinema{
  display: none;
}

/* dashboard cinema */
.card {
  margin: 15px 0;
}

/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  color: red;
  .form-control {
    border-color: red;
  }
}

/* footer */
footer {
  width: 100%;
  height: 90px;
  color: white;
  padding-top: 30px;
  position: absolute;
  margin: 20px 0 0 0;
  p {
    margin: 0 auto;
    color: #ccc;
    width: 50%;
    text-align: center;
    span {
      color: #fff;
    }
  }
}