<% provide(:title, custom_title(@cinema.name)) %>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>Cinema: <%= @cinema.name %></h1>
    <div class="d-flex flex-column align-items-end">
      <% if admin? %>
      <%= link_to "Edit", edit_cinema_path(@cinema), class: 'btn btn-primary' %>
      <% end %>
    </div>
    <p>Cinema Name: <%= @cinema.name %></p>
  </div>
  <div class="col-md-4">
  </div>
</div>